/* Standart */
.container-fluid
{
    background-image: url(../../IMG/test.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    min-height: 35vh;
}

#headline
{
    height: 35vh;
}

.col-md-6 studi
{
    color: rgba(23, 23, 23, 0.7);
    font-size: 5vh;
}

.col-md-6 cast
{
    color: rgba(255, 23, 23, 0.7);
    font-size: 5vh;
}

.col-8
{
    width: 100vw;
}

.col-8 audio
{
    margin: center;
}

.clo-4
{

}

#login
{
   width: 100%;
}

#btnlogin
{
    float: right;
}


#chat
{
    height: 500px;
    border-style: solid;
}

/* Kontakt */
.form
{
    width: 40vw;
}
