/* Standart */
.spacer
{
    height: 5px;
}

.container-fluid
{
    background-image: url(../../IMG/test.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    min-height: 35vh;
}

#headline
{
    height: 35vh;
}

.col-md-6 studi
{
    /* color: rgba(23, 23, 23, 0.7);*/
    color: rgba(255, 255, 255, 0.7);
    font-size: 5vh;
}

.col-md-6 cast
{
    color: rgba(255, 23, 23, 0.7);
    font-size: 5vh;
}

.col-9
{
    width: 100vw;
}

.col-9 audio
{
    width: 100%;
}

.clo-3
{

}

.login-flex
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#txtName
{
    width: 100%;
}

#txtPW
{
    width: 100%;
}

#btnAnmelden
{
    width: 47%;
    font-size: 80%;

}

#btnLogin
{
    width: 47%;
    font-size: 80%;
}

.login
{
    width: 100%;
}

#chat
{
    height: 50vh;
    width: 100%;
    border-style: solid;
}

#txtChat
{
    width: 100%;
}

#btnChat
{
    width: 100%;
}

/* Kontakt */
.form
{
    width: 40vw;
}
