
/* Standart */

.container-fluid
{
    background-image: url(../../IMG/test.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    min-height: 40vh;
}

#headline
{
    height: 40vh;
}



.col-9
{
    width: 100vw;
}

.clo-3
{

}

#chat
{
    height: 500px;
    border-style: solid;
}



/* Kontakt */
.form
{
    width: 40vw;
}
